<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li style="list-style: none;">
    <%= task.completed ? '✅' : '🔲' %>
    <%= link_to task.title, task_path(task) %>: <%= task.details %>
    <%= link_to "Delete", task_path(task.id),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </li>
  <% end %>
</ul>

<%= link_to 'Create new task', new_task_path %>
